<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Appointments - Tvastra</title>
    <%- include('partials/linker.ejs') %> 
    <link href="./../assets/css/dashboard.css" rel="stylesheet" type="text/css">
</head>

<body>
    <%- include('partials/header.ejs') %>
    <%- include('partials/toaster.ejs') %>

        <section id="dashboard-section">
            <div id="dashboard-container">
                <%- include('partials/dashboardMenu.ejs')%>
                <%
                    let currentDate = new Date(today.getTime());
                    let pastAppointments = [];
                    let upcomingAppointments = [];
                    allAppointments.forEach((appointment) => {
                        if(appointment.appointmentDate.getTime() >= currentDate.getTime()) {
                            upcomingAppointments.push(appointment);
                        } else {
                            pastAppointments.push(appointment);
                        }
                    })                            
                %>
                <% if(!session.isDoctor) { %>
                    <div class="content">
                        <div>
                            <h4>Upcoming Appointments</h4>
                            <div class="appointments-list">
                                <% upcomingAppointments.forEach((appointment) => { %>
                                    <div class="appointment">
                                        <div class="appointment-info">
                                            <div class="date">
                                                <h6><%= appointment.appointmentDate.toDateString().split(" ")[2] %></h6>
                                                <h6><%= appointment.appointmentDate.toDateString().split(" ")[1].toUpperCase() %></h6>
                                            </div>
                                            <ul class="details">
                                                <li class="head"><%= appointment.doctorName %></li>
                                                <li><%= `${appointment.appointmentDate.toDateString().split(" ")[0]} ${appointment.startTime}` %></li>
                                                <li><%= appointment.hospitalName %></li>
                                                <li class="status"><%= appointment.status %></li>
                                            </ul>
                                        </div>
                                        <div class="modify-btn">
                                            <button class="btn-secondary">Cancel Apointment</button>
                                            <button class="btn-secondary">Reschedule Apointment</button>
                                        </div>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                        <div>
                            <h4>Past Appointments</h4>
                            <div class="appointments-list">
                                <% pastAppointments.forEach((appointment) => { %>
                                    <div class="appointment">
                                        <div class="appointment-info">
                                            <div class="date">
                                                <h6><%= appointment.appointmentDate.toDateString().split(" ")[2] %></h6>
                                                <h6><%= appointment.appointmentDate.toDateString().split(" ")[1].toUpperCase() %></h6>
                                            </div>
                                            <ul class="details">
                                                <li class="head"><%= appointment.doctorName %></li>
                                                <li><%= `${appointment.appointmentDate.toDateString().split(" ")[0]} ${appointment.startTime}` %></li>
                                                <li><%= appointment.hospitalName %></li>
                                                <li class="status"><%= appointment.status %></li>
                                            </ul>
                                        </div>
                                        <div class="modify-btn">
                                            <button class="btn-secondary">Cancel Apointment</button>
                                            <button class="btn-secondary">Reschedule Apointment</button>
                                        </div>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                <% } %>
                <% if(session.isDoctor) { %>
                    <div class="content">
                        <div id="stats">
                            <div class="stats-card">
                                <i class="fas fa-calendar-check"></i>
                                <div class="stat-info">
                                    <h6>Applications</h6>
                                    <h6>2</h6>
                                </div>                                
                            </div>
                            <div class="stats-card">
                                <i class="fas fa-user-injured"></i>
                                <div class="stat-info">
                                    <h6>Patients</h6>
                                    <h6>2</h6>
                                </div>                                
                            </div>
                        </div>
                        <div>
                            <h4>Upcoming Appointments</h4>
                            <% upcomingAppointments.forEach((appointment) => { %>
                                <div class="details-mob">
                                      <h6>Name : </h6>  
                                      <p><%= appointment.patientName %></p>  
                                      <h6>Email : </h6>  
                                      <p><%= appointment.patientEmail %></p> 
                                      <h6>Date : </h6>  
                                      <p><%= appointment.appointmentDate.toDateString() %></p>  
                                      <h6>Visit Time : </h6>  
                                      <p><%= appointment.startTime %></p>   
                                      <h6>Number : </h6>  
                                      <p><%= appointment.patientMobile %></p> 
                                      <h6>Hospital : </h6>  
                                      <p><%= appointment.hospitalName %></p>    
                                      <h6>Action : </h6>  
                                      <div class="actions">
                                        <i class="fas fa-edit"></i>
                                        <i class="fas fa-trash-alt"></i>
                                      </div>                  
                                </div>
                            <% }) %>
                            <div class="details-nonmob">
                                <table>
                                    <tr>
                                        <th>Pic</th>
                                        <th>Name</th>  
                                        <th>Email</th>  
                                        <th>Date</th>   
                                        <th>Visit Time</th>
                                        <th>Number</th>  
                                        <th>Hospital</th>  
                                        <th>Action</th>   
                                    </tr>
                                    <% upcomingAppointments.forEach((appointment) => { %>
                                        <tr>
                                            <td><i class="far fa-user"></i></td>
                                            <td><%= appointment.patientName %></td>  
                                            <td><%= appointment.patientEmail %></td> 
                                            <td><%= appointment.appointmentDate.toDateString() %></td>  
                                            <td><%= appointment.startTime %></td>    
                                            <td><%= appointment.patientMobile %></td> 
                                            <td><%= appointment.hospitalName %></td> 
                                            <td>   
                                                <div class="actions">
                                                  <i class="fas fa-edit"></i>
                                                  <i class="fas fa-trash-alt"></i>
                                                </div>      
                                            </td>
                                        </tr>
                                    <% }) %>
                                </table>                   
                            </div>
                        </div>
                        <div>
                            <h4>Past Appointments</h4>
                            <% pastAppointments.forEach((appointment) => { %>
                                <div class="details-mob">
                                      <h6>Name : </h6>  
                                      <p><%= appointment.patientName %></p>  
                                      <h6>Email : </h6>  
                                      <p><%= appointment.patientEmail %></p> 
                                      <h6>Date : </h6>  
                                      <p><%= appointment.appointmentDate.toDateString() %></p>  
                                      <h6>Visit Time : </h6>  
                                      <p><%= appointment.startTime %></p>   
                                      <h6>Number : </h6>  
                                      <p><%= appointment.patientMobile %></p> 
                                      <h6>Hospital : </h6>  
                                      <p><%= appointment.hospitalName %></p>    
                                      <h6>Action : </h6>  
                                      <div class="actions">
                                        <i class="fas fa-edit"></i>
                                        <i class="fas fa-trash-alt"></i>
                                      </div>                  
                                </div>
                            <% }) %>
                            <div class="details-nonmob">
                                <table>
                                    <tr>
                                        <th>Pic</th>
                                        <th>Name</th>  
                                        <th>Email</th>  
                                        <th>Date</th>   
                                        <th>Visit Time</th>
                                        <th>Number</th>  
                                        <th>Hospital</th>  
                                        <th>Action</th>   
                                    </tr>
                                    <% pastAppointments.forEach((appointment) => { %>
                                        <tr>
                                            <td><i class="far fa-user"></i></td>
                                            <td><%= appointment.patientName %></td>  
                                            <td><%= appointment.patientEmail %></td> 
                                            <td><%= appointment.appointmentDate.toDateString() %></td>  
                                            <td><%= appointment.startTime %></td>    
                                            <td><%= appointment.patientMobile %></td> 
                                            <td><%= appointment.hospitalName %></td> 
                                            <td>   
                                                <div class="actions">
                                                  <i class="fas fa-edit"></i>
                                                  <i class="fas fa-trash-alt"></i>
                                                </div>      
                                            </td>
                                        </tr>
                                    <% }) %>
                                </table>                   
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </section>

    <%- include('partials/footer.ejs') %>

</body>

</html>