<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Confirmed - Tvastra</title>
    <%- include('partials/linker.ejs') %>  
    <link href="./../assets/css/confirmBooking.css" rel="stylesheet" type="text/css">   
</head>
<body>
    <%- include('partials/flash.ejs') %>
    <%- include('partials/header.ejs') %>
    <%- include('partials/toaster.ejs') %>
    <div id="confirm-cards">   
        <div class="card">
            <% 
                let date = new Date(session.newAppointment.appointmentDate).toDateString();
            %>
            <h6>In Clinic Appointment</h6>
            <div class="card-schedule">
                <div>
                    <p class="head"><span>On </span><%= date %></p>   
                    <p class="para" style="margin-top: .3rem;" onclick="callReschedule('<%= session.newAppointment.id %>')"><a>Change Date and Time</a></p>     
                </div>
                <div>
                    <p class="head"><i class="fas fa-clock"></i><span> At </span><%= session.newAppointment.slotDetails.slotTime%></p>             
                </div>           
            </div>
            <div class="card-doctor">
                <i class="far fa-user"></i>
                <div id="card-doctor-details">
                    <div>
                        <p class="head"><%= session.newAppointment.doctorDetails.name %></p>
                        <p class="para"><%= session.newAppointment.doctorDetails.qualification %></p>
                        <p class="para"><%= session.newAppointment.doctorDetails.specialization %></p>
                    </div>
                </div>
            </div>
            <div class="card-hospital">
                <i class="far fa-hospital"></i>
                <div class="card-hospital-details">
                    <div>
                        <p class="head"><%= session.newAppointment.slotDetails.hospital%></p>
                        <p class="para"><%= session.newAppointment.slotDetails.location%></p>
                        <p class="para"><a>Get Direction</a></p>     
                    </div>           
                </div>
            </div>
        </div>   
        <div class="card confirmed">
            <h6><span style="margin-right: .6rem; color: green;"><i class="fas fa-check-circle"></i></span>Appointment Booked</h6>
            <div>
                <h6>Appointment Details</h6>
                <p class="chead">Appointment ID</p>
                <p class="cpara"><%= session.newAppointment.id %></p>
                <p class="chead">Patient Name</p>
                <p class="cpara"><%= session.newAppointment.patientDetails.patientName %></p>
                <p class="chead">Patient Mobile</p>
                <p class="cpara"><%= session.newAppointment.patientDetails.patientMobile %></p>
                <div id="button">
                    <button class="btn-danger" onclick="callCancel('<%= session.newAppointment.id %>')">Cancel Appointment</button>
                    <button class="btn-secondary" onclick="callReschedule('<%= session.newAppointment.id %>')">Reschedule Appointment</button>
                </div>
            </div>
        </div>    
    </div>
    
    <div id="footer">
        <h6 class="small">
            All Rights Reserved &copy Tvastra 2021
        </h6>
    </div>

    <script>
        let callReschedule = (slot) => {
            document.location = `reschedule-appointment/<%= session.newAppointment.id %>`;
        }

        let callCancel = (appointmentId) => {
            document.location = `cancel-appointment/${appointmentId}`;
        }
    </script>
</body>
</html>