<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors - Tvastra</title>
    <%- include('partials/linker.ejs') %>  
    <link href="./../assets/css/list.css" rel="stylesheet" type="text/css">   
    <link href="./../assets/css/doctor.css" rel="stylesheet" type="text/css">   
</head>
<body>
    <%- include('partials/header.ejs') %>
    <%- include('partials/toaster.ejs') %> 

    

    <section id="banner">
        <h4>Cardiac Surgeon in <span>Delhi</span></h4>
    </section>

    <section id="path">
        <h5>Home / Doctor List</h5>
        <select class="filter">
            <option>Sort by</option>
        </select>
    </section>
    <section class="container">
        <div class="filter-section"">
            <button>Filter By</button>
            <div class="filter-card">
                <div class="head">
                    <p>Location</p>
                    <div>                            
                        <i class="fas fa-search"></i>
                        <i class="icon"></i>
                    </div>
                </div>
                <div class="check-boxes">
                    <input type="checkbox" id="item1" name="location">
                    <label for="item1" >DLF Cyber City</label>
                    <input type="checkbox" id="item2" name="location">
                    <label for="item2" >Dwaraka</label>
                    <input type="checkbox" id="item3" name="location">
                    <label for="item3" >Lajpat Nagar</label>
                    <input type="checkbox" id="item4" name="location">
                    <label for="item4" >Palam Vihar</label>
                    <input type="checkbox" id="item5" name="location">
                    <label for="item5" >Punjabi Baag</label>
                    <input type="checkbox" id="item6" name="location">
                    <label for="item6" >Pusa Road</label>
                </div>
                <div class="show-more">
                    <a>+ Show More</a>
                </div>

            </div>
            <div class="filter-card">
                <div class="head">
                    <p>Treatment</p>
                    <div>                            
                        <i class="fas fa-search"></i>
                        <i class="icon"></i>
                    </div>
                </div>
                <div class="check-boxes">
                    <input type="checkbox" id="item1" name="hospital">
                    <label for="item1" >Multi Organ Transplant</label>
                    <input type="checkbox" id="item2" name="hospital">
                    <label for="item2" >Orthopedic Surgery</label>
                    <input type="checkbox" id="item3" name="hospital">
                    <label for="item3" >Infertility Treatment</label>
                    <input type="checkbox" id="item4" name="hospital">
                    <label for="item4" >Dentistry</label>
                    <input type="checkbox" id="item5" name="hospital">
                    <label for="item5" >Cardiology</label>
                    <input type="checkbox" id="item6" name="hospital">
                    <label for="item6" >Cancer</label>
                </div>
                <div class="show-more">
                    <a>+ Show More</a>
                </div>

            </div>
            <div class="filter-card">
                <div class="head">
                    <p>Hospitals</p>
                    <div>                            
                        <i class="fas fa-search"></i>
                        <i class="icon"></i>
                    </div>
                </div>
                <div class="check-boxes">
                    <input type="checkbox" id="item1" name="treatment">
                    <label for="item1" >Apollo Hospital</label>
                    <input type="checkbox" id="item2" name="treatment">
                    <label for="item2" >Manipal North Side Hospital</label>
                    <input type="checkbox" id="item3" name="treatment">
                    <label for="item3" >Northstar</label>
                    <input type="checkbox" id="item4" name="treatment">
                    <label for="item4" >AIIMS</label>
                    <input type="checkbox" id="item5" name="treatment">
                    <label for="item5" >Fortis Hospital</label>
                    <input type="checkbox" id="item6" name="treatment">
                    <label for="item6" >Eibit Diagnostic</label>
                </div>
                <div class="show-more">
                    <a>+ Show More</a>
                </div>

            </div>
            <div class="filter-card">
                <div class="head">
                    <p>Year of Experience</p>
                    <div>                            
                        <i class="fas fa-search"></i>
                        <i class="icon"></i>
                    </div>
                </div>
                <div class="check-boxes">
                    <input type="checkbox" id="item1" name="year">
                    <label for="item1" >30+</label>
                    <input type="checkbox" id="item2" name="year">
                    <label for="item2" >25+</label>
                    <input type="checkbox" id="item3" name="year">
                    <label for="item3" >20+</label>
                    <input type="checkbox" id="item4" name="year">
                    <label for="item4" >15+</label>
                    <input type="checkbox" id="item5" name="year">
                    <label for="item5" >10+</label>
                    <input type="checkbox" id="item6" name="year">
                    <label for="item6" >5+</label>
                </div>
                <div class="show-more">
                    <a>+ Show More</a>
                </div>

            </div>
        </div>
        <div id="list-cards">
            <% allDoctors.forEach(doctor => { %>
                <div class="list-card">
                    <div>
                        <h5><%= doctor.name %></h5>
                        <ul class="wrap">
                            <li> <i class="fas fa-certificate"></i><%= doctor.qualification %></li>
                            <li> <i class="fas fa-award"></i> <%= doctor.specialization %></li>
                            <li> <i class="far fa-clock"></i><%= doctor.experience%></li>
                            <li><i class="fas fa-building"></i> <%= doctor.hospital%></li>
                            <li><i class="fa fa-map-marker"></i> <%= doctor.country%></li>                
                        </ul>
                        <button class="btn-primary book-appointment">Book An Appointment</button>
                    </div>
                    <div class="available-slots">
                        <h6>Select a Time Slot</h6>
                        <div class="date-head">
                            <div class="date-head-controls left-control">
                                <i class="fas fa-chevron-left"></i>
                            </div>
                            <div class="date-head-slides">
                                <%
                                    let dayCount = currentDay;
                                    let days = ['sunday','monday','tuesday','wednesday','thursday','friday','saturday'];

                                    let getSlotCount = (dayCount) => {
                                        dayCount = dayCount > 6 ? dayCount % 7 : dayCount;
                                        let weekday = days[dayCount];
                                        let slotCount = 0;
                                        allSlots.forEach((slot) => {
                                            if(JSON.stringify(slot.doctorId) == JSON.stringify(doctor.userId)){
                                                if(slot.day == weekday) {
                                                    slot.subSlots.forEach((subSlot) => {
                                                        if(!subSlot.isBooked){
                                                            slotCount++;
                                                        }
                                                    })
                                                }
                                            }
                                        })
                                        return slotCount;
                                    } 
                                %>

                                <div class="date-head-slides-slide date-head-slides-slide--active">
                                    <p class="date">Today</p>
                                    <p class="slot-count"><% let count = getSlotCount(dayCount); %> <%= count == 0 ? 'No' : count %> Slots Available</p>
                                </div>
                                <div class="date-head-slides-slide">
                                    <p class="date">Tommorow</p>
                                    <p class="slot-count"><% count = getSlotCount(++dayCount); %> <%= count == 0 ? 'No' : count %> Slots Available</p>
                                </div>
                                <%
                                    let slideDate = new Date(today);
                                    slideDate.setDate(slideDate.getDate() + 2);
                                    for(let rem=5; rem > 0; rem--) {
                                %>
                                    <div class="date-head-slides-slide">
                                        <p class="date"><%= slideDate.toDateString() %></p>
                                        <p class="slot-count"><% count = getSlotCount(++dayCount); %> <%= count == 0 ? 'No' : count %> Slots Available</p>
                                    </div>      
                                <% 
                                        slideDate.setDate(slideDate.getDate() + 1);
                                    }
                                %>                       
                            </div>
                            <div class="date-head-controls right-control">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </div>  
                        <div class="time-schedule-container">     
                            <% 
                                dayCount = currentDay;
                                slotDate = new Date(today);

                                let getSlots = (dayCount) => {
                                    let slots = {
                                        morningSlots: [],
                                        afternoonSlots: [],
                                        eveningSlots: []
                                    };
                                    dayCount = dayCount > 6 ? dayCount % 7 : dayCount;
                                    let weekday = days[dayCount];
                                    let slotCount = 0;
                                    allSlots.forEach((slot) => {
                                        if(JSON.stringify(slot.doctorId) == JSON.stringify(doctor.userId)){
                                            if(slot.day == weekday ) {                                  
                                                slot.subSlots.forEach((subSlot) => {
                                                    if(!subSlot.isBooked){
                                                        if(subSlot.startTime.split(' ')[1] == 'am'){
                                                            slots.morningSlots.push(subSlot);
                                                        } else if(subSlot.startTime.split(':')[0] < 5 ) {
                                                            slots.afternoonSlots.push(subSlot);
                                                        } else {
                                                            slots.eveningSlots.push(subSlot);
                                                        }
                                                    }
                                                })
                                            }
                                            slots.doctorId = slot.doctorId;
                                            slots.scheduleId = slot._id;                                            
                                        }
                                    })
                                    slots.date = new Date();
                                    slots.date.setDate(slotDate.getDate());
                                    slots.date = slots.date.toDateString();
                                    slotDate.setDate(slotDate.getDate() + 1);
                                    return slots;
                                }
                                
                                
                            %>  
                            <% for(let counter=0;counter<7;counter++) { 
                                let fetchedSlots = getSlots(dayCount++);
                            %>
                                <div class="time-schedule">
                                    <div class="time-schedule-session">
                                        <div class="time-schedule-session-head">
                                            <i class="fas fa-cloud-sun"></i>
                                            <p>Morning</p>
                                        </div>
                                        <div class="time-schedule-session-slots">
                                            <%
                                                fetchedSlots.morningSlots.forEach((slot) => {                                            
                                            %>
                                            <div class="time-schedule-session-slots-slot" onclick="callAppointment(this)" data-scheduleId="<%= fetchedSlots.scheduleId %>" data-slotId="<%= slot._id %>"" data-userId="<%= session.userId %>" data-doctorId="<%= fetchedSlots.doctorId%>" data-date="<%= fetchedSlots.date %>" ><%= slot.startTime.split(' ')[0]%></div>
                                            <% }) %>
                                        </div>
                                    </div>
                                    <div class="time-schedule-session">
                                        <div class="time-schedule-session-head">
                                            <i class="fas fa-sun"></i>
                                            <p>Afternoon</p>
                                        </div>
                                        <div class="time-schedule-session-slots">
                                            <%
                                                fetchedSlots.afternoonSlots.forEach((slot) => {                                            
                                            %>
                                            <div class="time-schedule-session-slots-slot" onclick="callAppointment(this)" data-scheduleId="<%= fetchedSlots.scheduleId %>" data-slotId="<%= slot._id %>"" data-userId="<%= session.userId %>" data-doctorId="<%= fetchedSlots.doctorId%>" data-date="<%= fetchedSlots.date %>"><%= slot.startTime.split(' ')[0]%></div>
                                            <% }) %>
                                        </div>
                                    </div>
                                    <div class="time-schedule-session">
                                        <div class="time-schedule-session-head">
                                            <i class="fas fa-moon"></i>
                                            <p>Evening</p>
                                        </div>
                                        <div class="time-schedule-session-slots">
                                            <%
                                                fetchedSlots.eveningSlots.forEach((slot) => {                                            
                                            %>
                                            <div class="time-schedule-session-slots-slot" onclick="callAppointment(this)" data-scheduleId="<%= fetchedSlots.scheduleId %>" data-slotId="<%= slot._id %>"" data-userId="<%= session.userId %>" data-doctorId="<%= fetchedSlots.doctorId%>" data-date="<%= fetchedSlots.date %>"><%= slot.startTime.split(' ')[0]%></div>
                                            <% }) %>
                                        </div>
                                    </div>
                                </div>                              
                            <% } %>
                        </div>
                    </div>
                    <img src="./../assets/images/doctors/rose.jpg" alt="Doctor Image">
                </div>
            <% }) %>            
    </section>

    <section id="help">
        <div>
            <h2>Need Help?</h2>
            <p>Just let us know, we will happy to assist you</p>  
        </div>
        <button id="submit" class="btn-secondary" onclick="document.location='./submitQuery.html'">Submit your enquiry</button>
    </section>

    <%- include('partials/footer.ejs') %>

    <script>
        $(document).ready(() => {
            let listCards = Array.from(document.querySelectorAll('.list-card'));
            listCards.forEach((card) =>{
                let bookAppointment = card.querySelector('.book-appointment');
                let appointmentLayout = card.querySelector('.available-slots');
                console.log(bookAppointment);
                console.log(appointmentLayout);
                bookAppointment.addEventListener('click',() => {
                    appointmentLayout.style.display = appointmentLayout.style.display == "block" ? "none" : "block" ;
                })
            })

            let slidesContainer = Array.from($('.available-slots'));
            slidesContainer.forEach((container) => {
                let slides = Array.from(container.querySelectorAll('.date-head-slides-slide'));
                let slotSlides = Array.from(container.querySelectorAll('.time-schedule'));
                let moveRight = container.querySelector('.left-control');
                let moveLeft = container.querySelector('.right-control');
                let currentHead = slides[0];
                let currentSlot = slotSlides[0];
                let i=1; let j=1;

                slides.forEach((slide) => {
                    slide.style.order = i++;
                })

                slotSlides.forEach((slide) => {
                    slide.style.order = j++;
                })

                console.log("Printing Orders")
                slides.forEach((slide) => {
                    console.log(slide.style.order)
                })
                
                let getOrder = (slide) => {
                    return parseInt(getComputedStyle(slide).order);
                }

                let setActive =  _ =>{
                    slides.forEach((slide) => {
                        if(slide.style.order == 1) {
                            slide.classList.add("date-head-slides-slide--active");
                        } else {
                            slide.classList.remove("date-head-slides-slide--active")
                        }
                    })
                }

                moveRight.addEventListener('click', () => {
                    slides.forEach((slide) => {
                        let slideOrder = getOrder(slide);
                        if(slideOrder < slides.length) {
                            slide.style.order = slideOrder + 1;                            
                        } else {
                            slide.style.order = 1;
                        }
                    })
                    slotSlides.forEach((slide) => {
                        let slideOrder = getOrder(slide);
                        if(slideOrder < slides.length) {
                            slide.style.order = slideOrder + 1;                            
                        } else {
                            slide.style.order = 1;
                        }
                    })
                    setActive();
                })

                moveLeft.addEventListener('click',() => {
                    slides.forEach((slide) => {
                        let slideOrder = getOrder(slide);
                        if(slideOrder == 1) {
                            slide.style.order = slides.length;                            
                        } else {
                            slide.style.order = slideOrder - 1;
                        }
                    })
                    slotSlides.forEach((slide) => {
                        let slideOrder = getOrder(slide);
                        if(slideOrder == 1) {
                            slide.style.order = slides.length;                            
                        } else {
                            slide.style.order = slideOrder - 1;
                        }
                    })
                    setActive();
                })          
            })

        })

        let callAppointment = (slot) => {
            document.location = `appointment/${slot.dataset.doctorid}?scheduleId=${slot.dataset.scheduleid}&slotId=${slot.dataset.slotid}&userId=${slot.dataset.userid}&date=${slot.dataset.date}`;
        }
    </script>

    
</body>
</html>