<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings - Tvastra</title>
    <%- include('partials/linker.ejs') %>  
    <link href="./../assets/css/dashboard.css" rel="stylesheet" type="text/css">
    <script defer>
        $(document).ready(() => {
            $('#change').click(() => {
                let passwords = {
                    curPassword: $('#curPassword').val(),
                    newPassword: $('#newPassword').val(),
                    conPassword: $('#conPassword').val()
                };
                $.ajax({
                    type: 'POST',
                    url: 'http://localhost:8080/change-password',
                    data: passwords
                })
            })
        })
    </script>
</head>
<body>
    <%- include('partials/flash.ejs') %>
    <%- include('partials/header.ejs') %>
    <%- include('partials/toaster.ejs') %>  


        <section id="dashboard-section">
            <div id="dashboard-container">
                <%- include('partials/dashboardMenu.ejs')%>
                    <div class="content">
                        <div id="head">
                            <h3>Settings</h3>
                            <button id="change" class="btn-secondary">Save Changes</button>
                        </div>
                        <div>
                            <form>
                                <div>
                                    <label for="curPassword">Current Password</label>
                                    <input id="curPassword" type="password">
                                </div>
                                <div>
                                    <label for="newPassword">New Password</label>
                                    <input id="newPassword" type="password">
                                </div>
                                <div>
                                    <label for="conPassword">Confirm Password</label>
                                    <input id="conPassword" type="password">
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </section>

        <%- include('partials/footer.ejs') %>
    
</body>
</html>