<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings - Tvastra</title>
    <%- include('linker.ejs') %>  
    <link href="./../assets/css/dashboard.css" rel="stylesheet" type="text/css">
</head>
<body>
    <%- include('header.ejs') %>
    <%- include('toaster.ejs') %>  


        <section id="dashboard-section">
            <div id="dashboard-container">
                <%- include('dashboardMenu.ejs')%>
                    <div class="content">
                        <div id="head">
                            <h3>Settings</h3>
                            <button class="btn-secondary">Save Changes</button>
                        </div>
                        <div>
                            <form>
                                <div>
                                    <label for="curPassword">Current Password</label>
                                    <input id="curPassword" type="password">
                                </div>
                                <div>
                                    <label for="newPassword">New Password</label>
                                    <input id="newPassword" type="password">
                                </div>
                                <div>
                                    <label for="conPassword">Confirm Password</label>
                                    <input id="conPassword" type="password">
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </section>

        <%- include('footer.ejs') %>
    
</body>
</html>