<% if(flash.info) { %>
    <div id="info" class="flashContainer">
        <i class="fas fa-times-circle"></i>
        <ul id="msg">
            <li><%= flash.info %></li>
            <li><%= flash.msg %></li>
        </ul>
        <i class="fas fa-times"></i>
    </div>
<% } %> 

<% if(flash.head) { %>
    <div id="success" class="flashContainer">
        <i class="fas fa-check-circle"></i>
        <ul id="msg">
            <li><%= flash.head %></li>
            <li><%= flash.msg %></li>
        </ul>
        <i class="fas fa-times"></i>
    </div>
<% } %>

<% if(flash.fail) { %>
    <div id="fail" class="flashContainer">
        <i class="fas fa-times-circle"></i>
        <ul id="msg">
            <li><%= flash.fail %></li>
            <li><%= flash.msg %></li>
        </ul>
        <i class="fas fa-times"></i>
    </div>
<% } %>    